/**
 * Graphy for Elementor
 * Creates modern and stylish Elementor widgets to display awesome charts and graphs.
 *
 * @encoding        UTF-8
 * @version         1.2.6
 * @contributors    Abdullah Thowzif Hameed (thowzif@live.com)
 **/
.mdp-graph-conventions ul {
  list-style-position: inside;
  -moz-column-count: 2;
  column-count: 2;
  list-style-type: decimal;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mdp-graph-conventions ul li {
  margin: 0;
}

.mdp-item-color {
  border-radius: 50%;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-bottom: 2px;
  margin-right: 5px;
}

.ct-label.ct-vertical.ct-start {
  justify-content: inherit;
}
.ct-label.ct-vertical.ct-start.ct-chart-pie, .ct-label.ct-vertical.ct-start.ct-chart-donut {
  overflow: visible;
}

svg.ct-chart-line, svg.ct-chart-pie, svg.ct-chart-donut, svg.ct-chart-bar {
  overflow: visible;
}

.ct-chart-line .ct-area {
  fill-opacity: 1;
}

.mdp-hide-points .ct-point {
  display: none;
}

.ct-label {
  font-size: 0.615rem;
  line-height: 1rem;
}

.ct-golden-section {
  z-index: 0;
}

.mdp-graphy-elementor-header,
.mdp-graphy-elementor-footer {
  overflow: hidden;
  display: flex;
}
.mdp-graphy-elementor-header.mdp-top-left,
.mdp-graphy-elementor-footer.mdp-top-left {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.mdp-graphy-elementor-header.mdp-top-center,
.mdp-graphy-elementor-footer.mdp-top-center {
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}
.mdp-graphy-elementor-header.mdp-top-right,
.mdp-graphy-elementor-footer.mdp-top-right {
  align-items: flex-start;
  justify-content: flex-end;
  text-align: right;
}
.mdp-graphy-elementor-header.mdp-center-left,
.mdp-graphy-elementor-footer.mdp-center-left {
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}
.mdp-graphy-elementor-header.mdp-center-center,
.mdp-graphy-elementor-footer.mdp-center-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.mdp-graphy-elementor-header.mdp-center-right,
.mdp-graphy-elementor-footer.mdp-center-right {
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}
.mdp-graphy-elementor-header.mdp-bottom-left,
.mdp-graphy-elementor-footer.mdp-bottom-left {
  align-items: flex-end;
  justify-content: flex-start;
  text-align: left;
}
.mdp-graphy-elementor-header.mdp-bottom-center,
.mdp-graphy-elementor-footer.mdp-bottom-center {
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}
.mdp-graphy-elementor-header.mdp-bottom-right,
.mdp-graphy-elementor-footer.mdp-bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
}
.mdp-graphy-elementor-header .mdp-graphy-elementor-image,
.mdp-graphy-elementor-footer .mdp-graphy-elementor-image {
  display: flex;
}
.mdp-graphy-elementor-header span[data-size=large],
.mdp-graphy-elementor-header p[data-size=large],
.mdp-graphy-elementor-footer span[data-size=large],
.mdp-graphy-elementor-footer p[data-size=large] {
  font-size: larger;
}
.mdp-graphy-elementor-header span[data-size=small],
.mdp-graphy-elementor-header p[data-size=small],
.mdp-graphy-elementor-footer span[data-size=small],
.mdp-graphy-elementor-footer p[data-size=small] {
  font-size: smaller;
}
.mdp-graphy-elementor-header h1,
.mdp-graphy-elementor-header h2,
.mdp-graphy-elementor-header h3,
.mdp-graphy-elementor-header h4,
.mdp-graphy-elementor-header h5,
.mdp-graphy-elementor-header h6,
.mdp-graphy-elementor-footer h1,
.mdp-graphy-elementor-footer h2,
.mdp-graphy-elementor-footer h3,
.mdp-graphy-elementor-footer h4,
.mdp-graphy-elementor-footer h5,
.mdp-graphy-elementor-footer h6 {
  margin: 0;
}

.mdp-graphy-elementor-row {
  display: flex;
  justify-content: space-between;
}